---
layout: default
title: 404
permalink: 404.html
---

<style>
  main {width: min(40ch, 100% - 1rem);}
</style>

<p style="text-align: center;">
  Oops! It looks like this page <b>doesn't exist!</b><br>
  Would you like to go to the <a href="/">main page</a>?
</p>

<script defer src="/tips.js"></script>