---
layout: default
title: 404
permalink: 404.html
---

<h2>
  Oops! It looks like this page doesn't exist!<br>
  Would you like to go to the <a href="/">main page</a>?
</h2>

<script src="/bg.js"></script>