---
layout: default
title: Welcome!
---

<style>
  div.ss button {
    --size: 16pt;
    margin: 2px auto;
  }
  .s {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease;
  }
  .s div {
    overflow: hidden;
    display: flex;
    gap: 5px;
    flex-direction: column;
    place-items: center;
  }
  .s img {
    width: 80%;
    border-radius: 3px;
  }
  .s.vis {grid-template-rows: 1fr;}
</style>

<p>
  This is a quite medium size passion project that started in December 2022!<br>
  Mostly to kind of port the minigames to Java Edition, but simple and with my spin on them<br>
  Very cool project to test my coding skills and resource pack <em>(Yup, only resource packs and plugins)</em> !<br>
  I've always wanted to do something for <b>Minecraft LCE</b>, since it was just so good to play<br>
  (And it still is, but i dont have much time..)<br>
  Anyways, <b>check out the screenshots</b>! :D
</p>
<div class="ss">
  <button class="java" onclick="toggleVis('lobby');">Lobby Screenshots</button>
  <section class="s" id="lobby"><div>
    <img src="/screenshots/lobby1.png">
    <img src="/screenshots/lobby2.png">
    <img src="/screenshots/lobby3.png">
  </div></section>

  <button class="java" onclick="toggleVis('battle');">Battle Screenshots</button>
  <section class="s" id="battle"><div>
    <img src="/screenshots/battle_chest.png">
  </div></section>

  <button class="java" onclick="toggleVis('glide');">Glide Screenshots</button>
  <section class="s" id="glide"><div>
    <img src="/screenshots/glide_vbooster.png">
    <img src="/screenshots/glide_gameplay1.png">
    <img src="/screenshots/glide_gameplay2.png">
  </div></section>

  <button class="java" onclick="toggleVis('tumble');">Tumble Screenshots</button>
  <section class="s" id="tumble"><div>
    <img src="/screenshots/tumble_gameplay1.png">
    <img src="/screenshots/tumble_gameplay2.png">
  </div></section>
</div>
<p>
  I plan on always updating it to the newest Minecraft versions when possible, and still support some old versions.
  Also I will keep the modern look of Minecraft in the resourcepack. Like the icons and custom GUIs.
  <em>and also keeping stuff like the lobby secrets and some old features...</em>
</p>
<br>
<div class="tipbox" style="margin: 0 auto;">
  <p>
    If you want to play or test it... You can.. maybe<br>
    Well you can contact me on Discord!<br>
    Its not finished yet so yeah, still in beta.
  </p>
</div>
<br>
<div style="text-align: center;">
  <p>
    I'd like to thank all of Minecraft: Legacy Console Edition's<br>
    original creators: <b>4J Studios</b>, as well as its beautiful community!<br>
    This project <b>wouldn't</b> exist without them! 
  </p>
  <a href="https://4jstudios.com/" target="_blank">
    <img src="/assets/wow/4J.png" width="256px" style="image-rendering: auto; margin: 0 auto;">
  </a>
</div>

<script defer src="/tips.js"></script>
<script>
  function toggleVis(id) {document.getElementById(id).classList.toggle('vis');}
</script>