* {
  padding: 0;
  margin: 0;
}
html {
  color-scheme: light;
  scroll-behavior: smooth;
}
body {
  background-color: #303030;
  background-image: url(/screenshots/battle1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #000;
  text-align: center;
  padding-bottom: 100px;
  image-rendering: pixelated;
}
header, footer {
  background-size: 64px;
  padding: 15px 0;
  color: #fff;
}
header {
  background-image: url(/assets/headerbg.png);
  box-shadow: 0 10px 8px #0000003d;
}
header img {
  height: 96px;
  image-rendering: auto;
  filter: drop-shadow(0 6px 4px #00000057);
}
footer {
  background-image: url(/assets/footerbg.png);
  font-size: 1.25rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -10px 8px #0000003d;
}
footer a {color: #2e9f2e;}
img, video {max-width: 100%;}
main {
  width: min(80ch, 100% - 1rem);
  margin-inline: auto;
  text-align: start;
}
.uibox {
  margin: 5px auto;
  border-radius: 12px 8px;
  background: #C6C6C6;
  box-shadow: -6px -6px 0px 0px rgba(0, 0, 0, 0.35) inset, 6px 6px 0px 0px #fff inset, 0px 0px 0px 3px #000;
  padding: 10px;
}
.tipbox:empty {display: none;}
.tipbox {
  color: #fff;
  padding: 10px;
  margin: 6px auto;
  background-color: rgba(24, 82, 92, 0.75);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #dfdfdf;
  border-radius: 5px;
  width: fit-content;
  max-width: 80%;
}
#t {margin: 10px auto;}

/* Font files taken from https://github.com/IdreesInc/Minecraft-Font */
/* Part of the code taken from my website */
@font-face {
  font-family: Minecraft;
  src: url(/assets/Minecraft.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(/assets/Minecraft-Bold.otf);
}
.mc, body {
  font-family: Minecraft, Noto Sans, sans-serif;
  letter-spacing: -.4pt;
  text-rendering: auto;
}
.mc.bold, h1, h2, h3, h4, h5, h6 {
  font-family: MinecraftBold, Minecraft, Noto Sans, sans-serif;
  font-weight: normal;
}

/* Minecraft Formatting Color Codes */
.black {color: #000;}
.dark_blue {color: #00A;}
.dark_green {color: #0A0;}
.dark_aqua {color: #0AA;}
.dark_red {color: #A00;}
.dark_purple {color: #A0A;}
.gold {color: #FA0;}
.gray {color: #AAA;}
.dark_gray {color: #555;}
.blue {color: #55F;}
.green {color: #5F5;}
.aqua {color: #5FF;}
.red {color: #F55;}
.light_purple {color: #F5F;}
.yellow {color: #FF5;}
.white {color: #FFF;};
.minecoin_gold {color: #DDD605;}
.material_quartz {color: #E3D4D1;}
.material_iron {color: #CECACA;}
.material_netherite {color: #443A3B;}
.material_redstone {color: #971607;}
.material_copper {color: #B4684D;}
.material_gold {color: #DEB12D;}
.material_emerald {color: #47A036;}
.material_diamond {color: #2CBAA8;}
.material_lapis {color: #21497B;}
.material_amethyst {color: #9A5CC6;}