---
title: O_o
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A mini-documentary/blog about my Legacy Console Edition remake">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_32x32.png">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://lukiiy.netlify.app/minecraft/button.css">
  <title>Lukiiy's LCE: {{ title }}</title>
</head>
<body>
  <img src="/assets/main.png" alt="LukiiyLCE Logo">
  <p class="tipbox" id="t"></p>
  <noscript>It looks like you have JavaScript disabled!</noscript>
  <main class="uibox">
    {{ content | safe }}
  </main>
  <footer>
    <p>
      <em>Project made by <a class="me" href="https://lukiiy.github.io/" target="_blank">Lukiiy</a> with ❤!</em><br>
      <span style="color: #56f;">Discord: lukiiy</span> | Made in Brazil <img src="/assets/Bandeira.png" alt="" width="16px">
    </p>
    <p style="color: #555; font-size: 1rem;">Not affiliated with Mojang, 4J Studios or Microsoft.</p>
  </footer>
</body>
</html>