---
title: O_o
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A mini-documentary/blog about my remake on Legacy Console Edition">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_32x32.png">
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/style.css">
  <title>Lukiiy's Legacy Minigames: {{ title }}</title>
</head>
<body class="mc">
  <header>
    <h1><a class="me" href="https://lukiiy.netlify.app/" target="_blank" rel="noopener noreferrer">Lukiiy</a>'s Legacy Console Minigames</h1>
  </header>
  <main class="uibox">
    {{ content | safe }}
    <p>This project is not affiliated with or supported by Mojang, 4J Studios or Microsoft.</p>
    <footer>
      <br>
      <img src="assets/Bandeira.png" alt="Made in Brazil!" title="🇧🇷 Made in Brazil! 🇧🇷" width="64px">
      <p>
        <span style="color: #5865f2;">Discord: lukiiy</span>
        <em>Website & Project made by <a class="me" href="https://lukiiy.netlify.app/" target="_blank" rel="noopener noreferrer">Lukiiy</a> with ❤!</em>
      </p>
    </footer>
  </main>
</body>
</html>